body {
	background-color: #ffffff;
	font-family: Trebuchet MS;
	font-size: .85em;
	margin: 0px;
}

.clearfix {
	clear: both;
}


.nav {
	background-color: #fff;
}

.menu {
	margin: 0 0 0 10px;
	padding: 0;
	list-style-type: none;
}

.menu li {
	float: left;
	margin-right: 10px;
}

.menu li a {
	background-color: #003366;
	background-image: url(/Content/gfx/bg_menuitem.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	color: #6699cc;
	padding: 5px 10px;
	display: block;
	text-decoration: none;
}

.menu li a.active {
	background-color: #336699;
	background-image: url(/Content/gfx/bg_menuitem_active.png);
	color: #99ccff;
}

.menu li a:hover {
	background-color: #6699cc;
	background-image: url(/Content/gfx/bg_menuitem_hover.png);
	color: #ffffff;
}

.special {
	font-weight: bold;
}

.new-task {
	background-color: #fff;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

button[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;}

.error {
    color: Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.field-hint-message {
	background-color: #ffe;
	border: 1px solid #f93;
	padding: 3px;
	display: inline-block;
}

.icon-hw-sw-add {
	height: 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	font-size: 80%;
	font-weight: bold;
	padding: 0 10px 0 30px;
	background-image: url("/Content/gfx/computer_add.png");
}

.icon-hw-sw-remove {
	height: 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	font-size: 80%;
	font-weight: bold;
	padding: 0 10px 0 30px;
	background-image: url("/Content/gfx/computer_delete.png");
}

.icon-hw-sw-clear {
	height: 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	font-size: 80%;
	font-weight: bold;
	padding: 0 10px 0 30px;
	background-image: url("/Content/gfx/computer_add.png");
}

tr.selected {
	background-color: #ddd;	

}
