@model Estime.Web.Models.TaskInput

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript"> </script>

<h2>Ny opgave</h2>

<div class="red" style="padding: 2px 10px; width: 100px;">
	this is a test
	<br />
	hello
</div>

<div class="working" style="padding: 2px 10px; width: 100px;">
	this is a test
	<br />
	hello
</div>

<div class="ready" style="padding: 2px 10px; width: 100px;">
	this is a test
	<br />
	hello
</div>


@using(Html.BeginForm())
{
}