@model Estime.Web.ViewModels.TasksViewModel

<h2>@ViewBag.Title opgaver</h2>

@Html.Partial("_Tasks", Model.StandardTasks)

<h2>@ViewBag.Title projekt opgaver</h2>

@Html.Partial("_Tasks", Model.ProjectTasks)
